header,
.header {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  padding: 1rem 0;
  margin: none;
  background-image: linear-gradient(to top, white, lightblue);
}

.background-image{
  background-position: center;
  opacity: 0.5; 
  background-size: auto;
}
.title {
  font-family: 'Splash', cursive;
  font-size: 70px;
  color: cornflowerblue;
}
.motto {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 20px;
  color: black;
}
body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0 .5rem;

}


.navbar {
  display: flex;
  justify-content: space-between;
  text-align: right;
  background-color:cornflowerblue;
  border: solid lightseagreen 1px;
  border-radius: 10px;
  color: cornflowerblue;
  opacity: 0.8;
  padding: 35px;
  font-size: 1.5rem;
}

.nav-buttons {
  border: solid white 1px;
  border-radius: 50%;
  color: white;
  background-color: lightseagreen;
  justify-content: center;
  opacity: 0.9;

}

.filter-search {
  display: flex;
  flex-direction: column;
  border: solid lightseagreen 2px;
  background-color:cornflowerblue;
  border-radius: 10px;
  opacity: 0.8;
  padding: 35px;
}

.filter-btn  {
  justify-content: flex;
  flex-direction: column;
  border: solid white .5px;
  border-radius: 10%;
  color: white;
  font-size: 1rem;
  background-color: lightseagreen;
  text-align: right;

  
}
